<section>
  <footer class="footer content">
    <div class class="footer__rodape">
      <div class="footer__Logo">
        <img src="./assets/caminhaoLogo.png" alt="Logotipo TranspEntregas" />
      </div>

      <div class="footer__redes">
        <p>Signa-nos</p>
        <img src="./assets/linkedin.svg" class="footer__icon" />
        <img src="./assets/facebook.svg" class="footer__icon" />
        <img src="./assets/twitter.svg" class="footer__icon" />
        <img src="./assets/youtube.svg" class="footer__icon" />
        <img src="./assets/instagram.svg" class="footer__icon" />
      </div>
    </div>
    <p class="footer__copyright">
      Copyright © 2021-2021 TranspEntregas. <br />Todos os direitos reservados.
    </p>
  </footer>
  <!-- Desenvolvido por Daniela Oliveira  -->
</section>
