<section class="coments content">
  <h3 class="coments__titulo">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </h3>
  <div class="coments__content">
    <div class="coments__depoimento">
      <img class="coments__img" src="./assets/joao.png" alt="Logotipo angis" />
      <p class="coments__descricao">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae, interdum
        maecenas vulputate erat sed etiam neque sit. Et proin commodo varius
        aliquam faucibus curabitur.
      </p>
      <strong class="coments__nome">João Medeiros</strong>
      <p class="coments__tranportadora">Cliente Lorem ipsum dolor sit amet</p>
    </div>

    <div class="coments__depoimento">
      <img class="coments__img" src="./assets/paulo.png" alt="Logotipo angis" />
      <p class="coments__descricao">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae, interdum
        maecenas vulputate erat sed etiam neque sit. Et proin commodo varius
        aliquam faucibus curabitur.
      </p>
      <strong class="coments__nome">Paulo Fernandes</strong>
      <p class="coments__tranportadora">Cliente Lorem ipsum dolor sit amet</p>
    </div>
    <div class="coments__depoimento">
      <img class="coments__img" src="./assets/maria.png" alt="Logotipo angis" />
      <p class="coments__descricao">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae, interdum
        maecenas vulputate erat sed etiam neque sit. Et proin commodo varius
        aliquam faucibus curabitur.
      </p>
      <strong class="coments__nome">Maria Clara</strong>
      <p class="coments__tranportadora">Cliente Lorem ipsum dolor sit amet</p>
    </div>
    <div class="coments__depoimento">
      <img
        class="coments__img"
        src="./assets/fernanda.png"
        alt="Logotipo angis"
      />
      <p class="coments__descricao">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae, interdum
        maecenas vulputate erat sed etiam neque sit. Et proin commodo varius
        aliquam faucibus curabitur.
      </p>
      <strong class="coments__nome">Fernanda Silva</strong>
      <p class="coments__tranportadora">Cliente Lorem ipsum dolor sit amet</p>
    </div>
  </div>
  <div class="coments__setas">
    <div class="coments__link">
      <a href><img src="./assets/seta_esquerda.png" /></a>
    </div>
    <div class="coments__link">
      <a href><img src="./assets/seta_direita.png" /></a>
    </div>
  </div>
</section>
