<section class="contato container">
  <div class="contato__content content">
    <div class="contato__texto">
      <h3 class="contato__titulo">
        Receba o melhor conteúdo relacionado a transporte no seu e-mail
      </h3>
      <p class="contato__paragrafo">
        Assine nossa newsletter e fique por dentro de tudo que acontece no
        mercado
      </p>
    </div>
    <form class="contato__form">
      <input type="text" class="input" required placeholder="Nome" />
      <input type="email" class="input" required placeholder="E-mail" />
      <input
        type="text"
        class="input"
        required
        placeholder="Perfil de empresa"
      />
      <button class="contato__button">Assinar Newsletter</button>
    </form>
  </div>
</section>
