<section class="wrapper container">
  <div class="wrapper__inicio content">
    <div class="wrapper__text">
      <h2 class="wrapper__titulo">
        Somos uma das maiores transportadoras do Brasil, com a melhor estrutura
        do mercado.
      </h2>
      <p class="wrapper__paragrafo">
        Lorem ipsum is placeholder text commonly used in the graphic, print, and
        publishing industries for previewing layouts and visual mockups. Lorem
        ipsum is placeholder text commonly used in the graphic, print, and
        publishing industries for previewing layouts and visual mockups.
      </p>
      <a class="wrapper__link" href="#">Saiba mais sobre nossa História</a>
    </div>

    <img
      src="./assets/caminhoes.jpg"
      alt="Frota de caminhões"
      class="wrapper__inicio__img/"
    />
  </div>
</section>
