<section class="servicos content">
  <h2 class="servicos__titulo">Produtos e Servicos</h2>
  <nav class="servicos__menu">
    <div class="servicos__gestao">
      <img src="./assets/carrinho.png" alt="Carrinho com caixas" />
      <p>Lorem Ipsum</p>
    </div>

    <div class="servicos__emissao">
      <img src="./assets/doc.png" alt="Documentos" />
      <p>Lorem Ipsum</p>
    </div>

    <div class="servicos__analytics">
      <img
        src="./assets/analytics_icone.png"
        alt="Seta direcionada para cima sob um gráfico de três barras"
        class
      />
      <p>Lorem Ipsum</p>
    </div>

    <div class="servicos__local">
      <img src="./assets/localizacao.png" alt="Local" />
      <p>Lorem Ipsum</p>
    </div>
  </nav>

  <div class="gestao">
    <div class="gestao__texto">
      <img src="./assets/carrinho.png" alt="Carrinho com caixas" />
      <h2 class="gestao__titulo">Gestão de despache</h2>
      <h3 class="gestao__subtitulo">Meaning of Lorem Ipsum</h3>
      <p class="gestao__paragrafo">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae, interdum
        maecenas vulputate erat sed etiam neque sit. Et proin commodo varius
        aliquam faucibus curabitur. Vitae ridiculus ornare quis lacus nisi.
        Gravida arcu, nec nulla id. Pulvinar pellentesque. Vitae, interdum
        maecenas vulputate erat sed etiam neque sit. Et proin commodo varius.
      </p>
      <a href="" class="gestao__link">Saiba mais sobre </a>
    </div>
    <div>
      <img
        src="./assets/empilhadeira.jpg"
        alt="Empilhadeira colocando pacotes dentro do caminhão"
      />
    </div>
  </div>

  <div class="emissao">
    <div>
      <img src="./assets/homem_emissao.jpg" alt="Homem com tablet na mão" />
    </div>
    <div class="emissao__texto">
      <img src="./assets/doc.png" alt="Documentos" />
      <h2 class="emissao__titulo">Emissão</h2>
      <h3 class="gestao__subtitulo">Meaning of Lorem Ipsum</h3>
      <p class="gestao__paragrafo">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae, interdum
        maecenas vulputate erat sed etiam neque sit. Et proin commodo varius
        aliquam faucibus curabitur. Vitae ridiculus ornare quis lacus nisi.
        Gravida arcu, nec nulla id. Pulvinar pellentesque. Vitae, interdum
        maecenas vulputate erat sed etiam neque sit. Et proin commodo varius.
      </p>
      <a href="" class="emissao__link">Saiba mais sobre</a>
    </div>
  </div>

  <div class="analytics">
    <div class="analytics__texto">
      <img
        src="./assets/analytics_icone.png"
        alt="Seta direcionada para cima sob um gráfico de três barras"
      />
      <h2 class="analytics__titulo">Analytics</h2>
      <h3 class="analytics__subtitulo">Meaning of Lorem Ipsum</h3>
      <p class="analytics__paragrafo">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae, interdum
        maecenas vulputate erat sed etiam neque sit. Et proin commodo varius
        aliquam faucibus curabitur. Vitae ridiculus ornare quis lacus nisi.
        Gravida arcu, nec nulla id. Pulvinar pellentesque. Vitae, interdum
        maecenas vulputate erat sed etiam neque sit. Et proin commodo varius.
      </p>
      <a href="" class="analytics__link">Saiba mais sobre </a>
    </div>
    <div>
      <img
        src="./assets/analytics.jpg"
        alt="Tablet com uma frequência estatística"
      />
    </div>
  </div>

  <div class="local">
    <div>
      <img src="./assets/leitor.jpg" alt="" />
    </div>
    <div class="local__texto">
      <img src="./assets/localizacao.png" />
      <h2 class="local__titulo">Entrega</h2>
      <h3 class="local__subtitulo">Meaning of Lorem Ipsum</h3>
      <p class="local__paragrafo">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae, interdum
        maecenas vulputate erat sed etiam neque sit. Et proin commodo varius
        aliquam faucibus curabitur. Vitae ridiculus ornare quis lacus nisi.
        Gravida arcu, nec nulla id. Pulvinar pellentesque. Vitae, interdum
        maecenas vulputate erat sed etiam neque sit. Et proin commodo varius.
      </p>
      <a href="" class="local__link">Saiba mais sobre</a>
    </div>
  </div>
</section>
