<section class="negocio container">
  <div class="negocio__content content">
    <div class="negocio__coluna">
      <h3 class="negocio__titulo">
        Ang Lorem Ipsum ay ginagamit na modelo ng industriya
      </h3>
      <p class="negocio__paragrafo">
        Matagal na nating alam na nakukuha ang atensyon ng nagbabasa ang
        nababasa na nilalaman ng pahina kapag tinitignan ang pagkakaayos. Ang
        punto ng paggamit ng Lorem Ipsum ay ito ay may humigit-kumulang na
        norma.
      </p>
      <a href="" class="negocio__link"
        >Saiba mais sobre
        <img src="./assets/Vector.svg" class="img__bottom_negocio"
      /></a>
    </div>
    <img
      src="./assets/homem_verde.png"
      alt="Homem de fone em frente ao notebook"
      class="img__negocio"
    />
  </div>
</section>
