<section class="angis container">
  <div class="angis__content content">
    <div class="angis__coluna">
      <h3 class="angis__titulo">Lorem Ipsum là gì?</h3>
      <p class="angis__paragrafo">
        Ang Lorem Ipsum ay ginagamit na modelo ng industriya ng pagpriprint at
        pagtytypeset. Ang Lorem Ipsum ang naging regular na modelo simula pa
        noong 1500s, noong may isang di kilalang manlilimbag and kumuha ng
        galley ng type at ginulo ang pagkaka-ayos nito upang makagawa ng libro
        ng mga type specimen
      </p>
    </div>

    <div class="angis__colunas">
      <div class="angis__inicie">
        <img src="./assets/relogio.png" alt="Relógio" class="angis__img" />
        <strong class="angis__strong">Lorem Ipsum</strong>
        <p class="angis__descricao">
          Ang Lorem Ipsum ay ginagamit na modelo ng industriya ng pagpriprint at
          pagtytypeset
        </p>
      </div>

      <div class="angis__inicie">
        <img src="./assets/Group 981.png" alt="" class="angis__img" />
        <strong class="angis__strong">Lorem Ipsum</strong>
        <p class="angis__descricao">
          Ang Lorem Ipsum ay ginagamit na modelo ng industriya ng pagpriprint at
          pagtytypeset
        </p>
      </div>
      <div class="angis__inicie">
        <img src="./assets/Group 982.png" alt="Relógio" class="angis__img" />
        <strong class="angis__strong">Lorem Ipsum</strong>
        <p class="angis__descricao">
          Ang Lorem Ipsum ay ginagamit na modelo ng industriya ng pagpriprint at
          pagtytypeset
        </p>
      </div>
    </div>
  </div>
</section>
